{% extends 'main/potravina-navbar.html' %}

{% block jmeno-potraviny %}
{{ food.name }}
{% endblock %}

{% block title %}
{{ food.name }} - Detail Potraviny
{% endblock %}

{% block content %}
    <div class="row text-center align-items-center" style="height: 90vh; width: 100vw;">
        <div class="col-md-4 p-4">
            <img src="{{ food.photo.url }}" class=" w-100 shadow-lg rounded-2" alt="orazek">
        </div>

        <div class="col-md-8 p-4">
            <div class="list-group rounded-5 shadow-lg">
                <div class="list-group-item">
                    <h1>Údaje na 100g</h1>
                </div>
                <div class="list-group-item">
                    <h1 class="m-1 d-flex justify-content-evenly" >
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.kcalPer100g }} kcal</div>
                        <div class="vr"></div>
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.get_kJPer100g }} kJ</div>
                    </h1>
                </div>
                <div class="list-group-item">
                    <h1 class="m-1 d-flex justify-content-evenly" style="flex: 1 1 0;">
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.proteinPer100g }} g Bílkovin</div>
                        <div class="vr"></div>
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.carbsPer100g }} g Sacharidů</div>
                    </h1>
                </div>
                <div class="list-group-item">
                    <h1 class="m-1 d-flex justify-content-evenly" style="flex: 1 1 0;">
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.fatPer100g }} g Tuků</div>
                        <div class="vr"></div>
                        <div class="fs-3" style="flex: 1 1 0;">{{ food.fiberPer100g }} g Vlákniny</div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}