{% extends 'main/base.html' %}

{% block content %}
<div class="row h-100">
    <div class="col-lg-6 align-items-center" style="display: flex; align-items: center; ">
        <div class="card rounded-5 h-75 w-75 mx-auto m-4 shadow-lg" >
            <div class="card-body d-flex flex-column justify-content-center">
                <p style="font-size: 15vh;" class="fw-bold">0000</p>
                <p style="font-size: 4vh;">kcal</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row h-100">
            <div class="col-6 align-items-center" style="display: flex; align-items: center; ">
                <div class="card rounded-5 h-50 w-75 mx-auto shadow-lg" >
                    <div class="card-body d-flex flex-column justify-content-center">
                        <p style="font-size:3vh;" class="fw-bold">0g Bílkovin<p>
                    </div>
                </div>
            </div>
            <div class="col-6 align-items-center" style="display: flex; align-items: center; ">
                <div class="card rounded-5 h-50 w-75 mx-auto shadow-lg" >
                    <div class="card-body d-flex flex-column justify-content-center">
                        <p style="font-size: 3vh;" class="fw-bold">0g Sacharidů</p>
                    </div>
                </div>
            </div>
            <div class="col-6 align-items-center" style="display: flex; align-items: center; ">
                <div class="card rounded-5 h-50 w-75 mx-auto shadow-lg" >
                    <div class="card-body d-flex flex-column justify-content-center">
                        <p style="font-size: 3vh;" class="fw-bold">0g Tuků</p>
                    </div>
                </div>
            </div>
            <div class="col-6 align-items-center" style="display: flex; align-items: center; ">
                <div class="card rounded-5 h-50 w-75 mx-auto shadow-lg" >
                    <div class="card-body d-flex flex-column justify-content-center">
                        <p style="font-size: 3vh;" class="fw-bold">0g Vlákniny</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}