{% extends 'main/base.html' %}

{% block title %}
Seznam Jídel
{% endblock %}

{% block content %}
    {% for meal in meals %}
    <div class="card my-3 shadow-lg" style="width: 95vw;">
        <div class="card-body p-2 d-flex align-items-center justify-content-start">
            <img src="{{ meal.photo.url }}" alt="" style="height: 8vw; min-height: 50px; max-height: 80px;" class="rounded-2 me-3">
            <div class="d-flex flex-column flex-grow-1 text-start">
                <a href="test" class="m-0 h4 flex-grow-1" style="text-decoration: none; font-size: 3vmin;">{{ meal.name }}</a>
                <p class="m-0" style="font-size: 2vmin;">{{ meal.get_weight }}g</p>
            </div>

            <p class="m-0 mx-1" style="font-size: 2vmin;">{{ meal.get_kcal }}kcal</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="me-2" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="{{ meal.get_protein }}g Bílkovin | {{ meal.get_carbs }}g Sacharidů | {{ meal.get_fat }}g Tuků | {{ meal.get_fiber }}g Vlákniny" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" style="min-height: 12px; min-width: 12px;">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>

            <a href="pridani-potraviny" class="btn btn-success d-flex justify-content-center align-items-center mx-1 shadow" role="button" style="height: 6vw;width: 6vw; min-height: 40px; min-width: 40px; max-height: 64px; max-width: 64px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}