{% extends 'main/base.html' %}

{% block content %}
<div class="d-flex flex-column m-3 align-items-center">
    <div class="card m-3 shadow" style="width: 90vw; height: 10vh;">
        <div class="card-body py-0 d-flex align-items-center justify-content-start">
            <img src="https://placehold.co/400" alt="" style="height: 8vh;">
            <p class="m-0 mx-3 h3 flex-grow-1 text-start">Název potraviny</p>
            <div class="d-md-flex d-none flex-column">
                <p class="m-0 mx-3 fs-6 text-center">0000kcal</p>
                <p class="m-0 mx-3 fs-6 text-center">/</p>
                <p class="m-0 mx-3 fs-6 text-center">100g</p>
            </div>
            
            <a href="" class="btn btn-success d-flex justify-content-center align-items-center mx-md-3" role="button" style="height: 6vh;width: 6vh;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </a>
        </div>
    </div>

</div>
{% endblock %}